  <div class='uk-grid-small' uk-grid>

        <div class="uk-width-1-2@s">
            
        </div>

        <div class="uk-width-1-2@s">
            <%= render 'form' %>
        </div>

    </div>
