<h1> Search Events by Category </h1><br>

<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>

    <% @categories.each do |c| %>
    <div>
        
        <a href="/categories/<%= c.id %>" class="uk-display-block uk-card uk-card-body uk-card-secondary uk-width-medium uk-card-hover">
            <h3 class="uk-card-title uk-text-center"><span class="uk-link-heading"><%= c.name %></span></h3>
        </a>
       
     </div>
    <% end %>

</div>